body p, h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
}

.menu {
	margin-top: 0px;
	background-color:white;
	height:120px;
}

.menu p {
	margin-top: 50px;
}

.slider {
	background-color:gray;
	position:relative;
	height:400px;
}

.features {
}

.features h1 {
	text-align: center;
	font-weight:100;
}

.features h2 {
	font-weight:400;
}

#topic {
	padding-top:30px;
	padding-bottom:30px;
}

#features1 {
	background-color:#e7e7e7;
	padding-top:50px;
	padding-bottom:50px;
}

#features2 {
	background-color:white;
	padding-top:50px;
	padding-bottom:50px;
}

.signup {
	padding: 30px 0px 30px 0px;
}

.signup h1 {
	font-weight:100;
}

.footer {
	background-color: black;
	padding:20px 0px 5px 0px;
}

.footer p {
	color:white;
}