body {
	padding: 0px;
}

body p, h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
}

.menu {
	margin-top: 0px;
	background-color:white;
	height:120px;
}

.menu p {
	margin-top: 50px;
	word-spacing:30px;
}

.menu a {
	color:black;
}

.menu a:hover {
	color:#777;
	text-decoration:none;
}

.slider {
	background-color:gray;
	position:relative;
	height:400px;
	padding-top: 30px;
}

.upload {
	background-color:gray;
	position:relative;
	height:100%;
	padding-top: 50px;
	padding-bottom:50px;
}

.upload img {
	text-align:center;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	margin-bottom: 10px;
}

.features {
}

.features h1 {
	text-align: center;
	font-weight:100;
}

.features h2 {
	font-weight:400;
}

#topic {
	padding-top:30px;
	padding-bottom:30px;
}

#features1 {
	background-color:#e7e7e7;
	padding-top:80px;
	padding-bottom:80px;
}

#features2 {
	background-color:white;
	padding-top:80px;
	padding-bottom:80px;
}

.signup {
	padding: 100px 0px 100px 0px;
}

.signup h1 {
	font-weight:100;
}

.footer {
	background-color: #e7e7e7;
	padding:25px 0px 5px 0px;
}

.footer p {
	color:black;
}