body p, h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
}

.menu {
	margin-top: 0px;
	background-color:white;
	height:120px;
}

.menu p {
	margin-top: 50px;
}

.slider {
	background-color:gray;
	position:relative;
	height:400px;
}

.features {
	margin-top:10px;

}

.features h1 {
	text-align: center;
	font-weight:100;
	margin-bottom:50px;
}

.features h2 {
	font-weight:400;
}